<?xml version="1.0"?>
<configuration>
	<connectionStrings>

    <add name="MyPersonnelDBConnectionString" connectionString="Data Source=.;Initial Catalog=MYPERSONNELDB.MDF;User ID=sa;Password=123456"
       providerName="System.Data.SqlClient" />
    <add name="MyASPNETDBConnectionString" connectionString="Data Source=.;Initial Catalog=ASPNETDB.MDF;User ID=sa;Password=123456"
    providerName="System.Data.SqlClient" />


  </connectionStrings>
	<system.net>
		<mailSettings>
			<smtp from="luobinasp@sina.com">
				<network host="smtp.sina.com" password="aspnet20" userName="luobinasp"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms"/>
		<customErrors defaultRedirect="~/SystemManage/AllErrorHelp.aspx" mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
